<template>
  <div class="card-back">
    <div class="center-wrap">
      <Form
        @submit="register($event)"
        :validation-schema="registerFormSchema"
        :initialValues="formData"
        class="section text-center"
      >
        <h4 class="mb-4 pb-3">ثبت نام کنید</h4>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group mt-2">
              <Field
                type="text"
                class="form-style"
                placeholder="نام کامل شما"
                autocomplete="off"
                name="name"
                :validateOnInput="true"
              />
              <i class="input-icon uil uil-user"></i>
            </div>
            <p class="text-danger"><ErrorMessage name="name" /></p>
          </div>
          <div class="col-md-6">
            <div class="form-group mt-2">
              <Field
                type="email"
                class="form-style"
                placeholder="آدرس ایمیل"
                autocomplete="off"
                name="email"
                :validateOnInput="true"
              />
              <i class="input-icon uil uil-at"></i>
            </div>
            <p class="text-danger"><ErrorMessage name="email" /></p>
          </div>
          <div class="col-md-6">
            <div class="form-group mt-2">
              <Field
                type="password"
                class="form-style"
                placeholder="رمز عبور"
                autocomplete="off"
                name="password"
                :validateOnInput="true"
              />
              <i class="input-icon uil uil-lock-alt"></i>
            </div>
            <p class="text-danger"><ErrorMessage name="password" /></p>
          </div>
          <div class="col-md-6">
            <div class="form-group mt-2">
              <Field
                type="password"
                class="form-style"
                placeholder="تکرار رمز عبور"
                autocomplete="off"
                name="confirmPassword"
                :validateOnInput="true"
              />
              <i class="input-icon uil uil-lock-alt"></i>
            </div>
            <p class="text-danger"><ErrorMessage name="confirmPassword" /></p>
          </div>
          <div class="col-md-6">
            <div class="form-group mt-2">
              <Field
                type="text"
                class="form-style"
                placeholder="شماره تلفن"
                autocomplete="off"
                name="phoneNumber"
                :validateOnInput="true"
              />
              <i class="input-icon uil uil-phone-alt"></i>
            </div>
            <p class="text-danger"><ErrorMessage name="phoneNumber" /></p>
          </div>
          <div class="col-md-6">
            <div class="form-group mt-2">
              <Field as="select" class="form-style" name="role">
                <option value="">نقس خود را انتخاب کنید</option>
                <option value="user">کاربر</option>
                <option value="student">دانشجو</option>
                <option value="teacher">مدرس</option></Field
              ><i class="input-icon uil uil-sign-alt"></i>
            </div>
            <p class="text-danger"><ErrorMessage name="role" /></p>
          </div>
          <div class="col-md-6">
            <div class="form-group mt-3" style="text-align: right">
              <label for="1">نامشخص</label>
              <Field
                type="radio"
                id="1"
                class="m-2"
                value="نامشخص"
                name="gender"
              />
              <label for="1">خانم</label>
              <Field
                type="radio"
                id="2"
                class="m-2"
                value="خانم"
                name="gender"
              />
              <label for="1">آقا</label>
              <Field
                type="radio"
                id="3"
                class="m-2"
                value="آقا"
                name="gender"
              />
            </div>
          </div>
        </div>

        <button type="submit" class="btn mt-4">ثبت نام</button>
      </Form>
    </div>
  </div>
</template>

<script>
import { Form, Field, ErrorMessage } from "vee-validate";
import { object, string, ref } from "yup";
export default {
  data() {
    const registerFormSchema = object({
      name: string().required("نام را وارد کنید"),
      email: string().required("ایمیل را وارد کنید"),
      password: string().required("رمز را وارد کنید").min(6),
      phoneNumber: string().required("تلفن را وارد کنید").min(11).max(11),
      confirmPassword: string()
        .required()
        .oneOf([ref("password"), null], "رمز یکسان نیست"),
      role: string().required(),
    });
    return {
      registerFormSchema,
      formData: {
        gender: "نامشخص",
        role: "user",
      },
    };
  },
  components: { Form, Field, ErrorMessage },
  methods: {
    register(values) {
      console.log(values);
    },
  },
};
</script>

<style scoped></style>
